body {
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  font-size: 1.8em;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
  color: #999;
  border-bottom: 1px solid #ccc;
}

h3 {
  padding-top: 10px;
  font-size: 1.2em;
}

.ekko-lightbox-nav-overlay span {
  color: #000;
}

.card {

  i {
    font-size: 9em;
    padding: 20px;
  }

  .card-body {
    padding: 0;

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
      border: 0;
    }
  }

}

.cx-projects-show {
  img {
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  }
}

.cx-home {
  padding-top: 50px;
}

.infopo-actions {
  width: 150px;
}

.cx-infopo-auditing {
  font-size: .8em;
  color: #999;
}

