
$primary:       #DF691A !default;
$secondary:     #666 !default;
$success:       #5cb85c !default;
$info:         #6f42c1 !default;
$warning:       #f0ad4e !default;
$danger:        #d9534f !default;

$body-bg:                   #f7f4f6 !default;
$body-color:                #666 !default;

$font-family-sans-serif:      "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
